* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* Home Page */
  #home-page {
    display: flex;
    justify-content: center;
    padding-top: 50%;
  }

  #login-button:hover > a {
    color: white;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }

  .login:hover {
    color: white;
  }
  
  img {
    height: 30px;
  }


/* Current Budgets (Index) and Archived Budgets Page */
  a {
    text-decoration: none;
  }

  .nav-link {
    color: white;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: xx-large;
    text-align: center;
    margin-top: 5%;
  }

  #new-budget-button {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #new-budget-link {
    display: flex;
    color: white;
  }

  .table {
    max-width: 95%;
  }

  .index-table {
    display: grid;
    grid-template-columns: 2fr 1fr 25px 71px;
    align-items: center;
    justify-items: center;
  }

  .table-header {
    font-size: larger;
  }

  .index-items {
    display: flex;
    text-align: center;
  }

  .archived-table {
    display: grid;
    grid-template-columns: 2fr 1fr 25px 91px;
    align-items: center;
    justify-items: center;
  }


/* New Budget Page */
  #new-budget {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .name {
    text-align: center;
  }

  .budget {
    text-align: center;
  }

  .form-label {
    text-align: center;
  }

  #update-button-button:hover > a {
    color: white;
  }

  #update-button-link:hover {
    color: white;
  }


/* Show Page */
  #show-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  #spent-earned-container {
    display: flex;
    flex-direction: row;
  }

  #spent, #earned {
    text-align: center;
  }

  #spent {
    padding-left: 5%;
    padding-right: 5%;
  }

  #earned {
    padding-left: 5%;
    padding-right: 5%;
  }

  #spent-amount, #earned-amount {
    font-size: xx-large;
  }

  #remaining-container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align:center;
  }

  .expenseIncomeRadioButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .amount {
    grid-area: amount;
    text-align: center;
  }

  .date {
    grid-area: date;
    text-align: center;
  }

  .description {
    grid-area: description;
    text-align: center;
  }

  .submit {
    grid-area: submit;
    display: flex;
    justify-content: center;
  }

  .form-row {
    display: flex;
  }

  .entries-table {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 25px;
    align-items: center;
    justify-items: center;
  }

  #description {
    text-align: center;
  }


/* Edit Budget Form */
  #edit-budget {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }


/* Edit Entry Form */
  #edit-entry {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }


/* Media Queries */
/* Tablets */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: xxx-large;
    text-align: center;
    margin-top: 7%;
  }

  #home-page {
    display: flex;
    justify-content: center;
    padding-top: 25%;
  }

  #new-budget {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 371px;
    margin-top: 5%;
  }

  #new-budget-button {
    width:371px;
    font-size: larger;
    margin-top: 3%;
  }

  .table {
    max-width: 95%;
    margin-top: 3%;
  }
  
  #show-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 371px;
  }

  #spent-amount, #earned-amount {
    font-size: xxx-large;
  }

  #remaining-container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align:center;
    font-size:larger;
  }

  #update-button-link {
    font-size: larger;
  }

  #edit-budget {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    width: 371px;
    margin-top: 5%;
  }

  #add-entry-button {
    font-size: larger;
  }

  #edit-entry {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 371px;
    margin-top: 5%;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  
  h1 {
    font-size: xxx-large;
    text-align: center;
    max-width: 973px;
    margin-top: 5%;
  }

  #new-budget-button {
    width:371px;
    font-size: larger;
    margin-top: 1.5%;
  }


  .table {
    width: 973px;
  }

  #home-page {
    display: flex;
    justify-content: center;
    padding-top: 15%;
  }

  #new-budget {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 371px;
    margin-top: 3%;
  }

  #edit-budget {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    width: 371px;
    margin-top: 3%;
  }

  #edit-entry {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 371px;
    margin-top: 3%;
  }

}