#new-budget {
  display: flex;
  justify-content: center;
  align-items: center
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}