<%- include('../partials/header') %> 

        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/budgets">Current Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %> 
            
    </nav>
    <main id="main">
        <% if (user) { %>
        <h1> <%= title %></h1>
        <% } %>

    <% if (user) { %> 
    
    <form id="new-budget" action="/budgets" method="POST">
        <div class="form-group form-label">
            <label for="exampleInputName">Name</label>
            <input type="text" class="name form-control" id="exampleInputName" name="name" placeholder="Ex: March Groceries">
        </div>
        </br>
        <div class="form-group form-label">
            <label for="exampleInputBudget">Budget $</label>
            <input type="number" class="budget form-control" id="exampleInputBudget" name="budget" placeholder="Round to the Dollar!">
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Add Budget</button>
    </form>


    <% } %> 
<%- include('../partials/footer') %> 