<%- include('../partials/header') %>
    <% if (user) { %> 
    <form action="/budgets" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Ex: March Groceries">
        </br>
        <label>Budget ($):</label>
        <input type="number" name="budget" placeholder="Round to the dollar!">
        </br>
        <input type="submit" value="Add Budget">
    </form>

    <!-- Nav Bar on bottom of page -->
    <div class="navbar">
        <a href="/budgets">All</a>
    </div>
    <% } %> 
<%- include('../partials/footer') %> 