<%- include('../partials/header') %> 

        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/budgets">Current Budgets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %> 
            
    </nav>
    <main id="main">
        <% if (user) { %>
        <h1> <%= title %></h1>
        <% } %>

<!-- end of "header" partial view -->

    <% if (user) { %> 
    
    <form id="new-budget" action="/budgets" method="POST">
        <label>Name</label>
        <input class="name" type="text" name="name" placeholder="Ex: March Groceries">
        </br>
        <label>Budget $</label>
        <input class="budget" type="number" name="budget" placeholder="Round to the dollar!">
        </br>
        <input type="submit" value="Add Budget">
    </form>


    <% } %> 
<%- include('../partials/footer') %> 